.form_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  .form_input {
    width: 400px;
    height: 60px;
  }
  .short_url_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
